
.list_carousel {
	margin: 0;
	width: auto;
	position:relative;
    }
.list_carousel ul {
	margin:0 -15px;
	padding:0;
	list-style: none;
	display: block;
	cursor: default;
	}
.list_carousel li {		
	display: inline-block;
	float: left;
	display:block;
	margin-left:15px;
	margin-right:15px;
	padding-bottom:20px;
    }
  .date{
  	display: block;
  	margin-bottom: 10px;
  }
.list_carousel li div{
	padding-right: 15px;
}
.list_carousel.responsive {
	width: auto;
}

.div-control a{
	display: inline-block;
	position: absolute;
	top: -69px;
}
.div-control a:hover{background-position: 0 bottom !important;}
#prev{
	width: 39px;
	height: 52px;
	background: url(../img/prev.png) 0 0 no-repeat;
	right: 41px;
}
#next{
	background: url(../img/next.png) 0 0 no-repeat;
	width: 41px;
	height: 52px;
	right: 0;
}

