// from dreadnought site

@import "bootstrap.scss";

.decr-led {
    background-image: url('/img/widget-12-01-base.png');
    background-repeat: no-repeat;
}

.decr-compass {
    width: 100%;
    height: 40px;
    display: block;
    background: url(/img/compass.png) center 4px no-repeat;
}

.decr-tickhr-container {
    position: relative;
}

.decr-rickhr-hr {
    color: $primary;
    opacity: 1.0;
}

.decr-rulehr-tick {
    position: absolute;
    transform: translateY(-50%);
    top: 0px;
    min-height: 4px !important;
    height: 4px;
    opacity: 1.0 !important;
}

.decr-led-side{
    height: 26px;
    margin-bottom: 10px;
    margin-left: 0;
    display: none;
    margin-left: -200px;
}

@media (min-width: 1200px){
    .decr-led-side{
        display: block;
    }
}

.decr-cornercontainer {
    display: block;
    position: relative;
    padding: 4px;
    border: 1px solid rgba(102, 255, 255, .1);
    transition: border-color .2s;
    margin-bottom: 10px;
}

.decr-cornerhoverarea:hover .decr-cornercontainer {
    border: 1px solid rgba(241,51,4,.25);
}

.corner-bl,
.corner-br,
.corner-tl,
.corner-tr {
    width: 18px;
    height: 18px;
    position: absolute;
    transition: color .2s;
}

.corner-tl {
    top: -1px;
    left: -1px;
    background: url(/img/btn-target-sprite.png) 0 0 no-repeat;
}

.corner-tr {
    top: -1px;
    right: -1px;
    background: url(/img/btn-target-sprite.png) 100% 0 no-repeat;
}

.corner-bl {
    bottom: -1px;
    left: -1px;
    background: url(/img/btn-target-sprite.png) left -18px no-repeat;
}

.corner-br {
    bottom: -1px;
    right: -1px;
    background: url(/img/btn-target-sprite.png) right -18px no-repeat;
}


.decr-cornerhoverarea:hover .corner-tl {
    background: url(/img/btn-target-sprite.png) left -36px no-repeat;
}

.decr-cornerhoverarea:hover .corner-tr {
    background: url(/img/btn-target-sprite.png) right -36px no-repeat;
}

.decr-cornerhoverarea:hover .corner-bl {
    background: url(/img/btn-target-sprite.png) left -54px no-repeat;
}

.decr-cornerhoverarea:hover .corner-br {
    background: url(/img/btn-target-sprite.png) right -54px no-repeat;
}