@charset "utf-8";
@import "globalvar.scss";

.headfront-text{
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.5s ease 1s, opacity 0.5s ease 1s;
    width: 100%;
    height: 100%;
}

.headfront {
    width: 100%;
    height: calc(100vh - #{$menubar-height});
    overflow: hidden;
}

.mainpage-bg {
    background-image: -webkit-cross-fade(url('/img/uuzbg.jpg'), $transparent-img, 70%);
    background-image: cross-fade(url('/img/uuzbg.jpg'), $transparent-img, 70%);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}