@charset "utf-8";

.fade-show {
    visibility: hidden;
    opacity: 1.0;
    transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.loading-bg{
    background-color: #093750;
}

.loading-widget {
    padding-left: 140px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}