---
---

@charset "utf-8";

// Our variables
$base-font-family: 'JetBrains Mono', "思源黑体 CN","Sarasa Gothic SC", "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

$menubar-height: 50px;
$menubar-sticky-padding: 10px;

// title
h2{
    border-bottom: #828282;
    border-bottom-style: solid;
    border-width: 1px;
}

// Utility

.scalableimg {
    width: 100%;
    height: 100%;
}

// Banners

.bannerbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    max-height: calc(100vh - #{$menubar-height} - #{$menubar-sticky-padding});
}

.bannerbar-onmenubar {
    @extend .bannerbar;
    top: calc(#{$menubar-height} + #{$menubar-sticky-padding});
}

.banner {
    padding: 15px;
    margin-right: 10px;
    background-color: #093750;
    border-left-style: solid;
    border-left-color: #03a4fb;
    margin-bottom: 10px;
    width: 300px;
}

.banner-standalone {
    @extend .banner;
    margin-top: calc(#{$menubar-height} + #{$menubar-sticky-padding});
}

// TOC

.toc {
    border: gray 2px;
    border-style: dashed;
    padding: 0 15px;
    padding-top: 5px;
    width: fit-content;
}

// navbar

#menubar-placeholder {
    height: $menubar-height;
}

.navbar-default {
    background: #093750 !important;
    border: none !important;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    color: #abc0ca !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #03a4fb !important;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #03a4fb !important;
}

.navbar-default .navbar-brand {
    color: #abc0ca !important;
}


// Head

.headfront {
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;
}

.headbackground {
    width: 100%;
    height: calc(100vh - #{$menubar-height});
    background-image: url('{{ "/img/bg.webp" | prepend: site.baseurl }}');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

// Post box

.post-list {
    text-align: left;
}

.post-box {
    padding-left: 10px;
    background-color: #093750;
    border-left-style: solid;
    border-left-color: #03a4fb;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.post-banner {
    padding: 10px;
}

.post-title {
    margin-bottom: 2em;
    font-size: 20px !important;
    color: #abc0ca !important;
}

.posted {
    margin-top: 2em;
    border-bottom-style: solid;
    border-bottom-color: #828282;
    width: 310px;
}

.post-banner {
    text-align: right;
    height: 280px;
}

.post-excerpt {
    color: white !important;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.post-title-main {
    font-size: 25px;
    text-align: center;
    color: #abc0ca !important;
    border: none!important;
}

.post-content {
    font-size: 19px;
    text-align: justify;
    padding-bottom: 5em;
}

// Posts

.postbody {
    background-color: #093750;
    width: 850px;
    padding: 40px;
    margin-top: $menubar-sticky-padding;
    margin-bottom: $menubar-sticky-padding;
}

.post-meta {
    color: skyblue !important;
    border-bottom: #fdfdfd;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 40px;
    padding-bottom:2px;
}

// Pages

.page-tagline {
    font-size: 20px;
    text-align: center;
}

.page-stuff {
    padding-top: 2em;
    padding-bottom: 5em;
    font-size: 19px;
}

#page-content {
    padding-bottom: 4em;
}

// DetailsBar

.detailsbar {
    background-color: #093750;
    border-left-style: solid;
    border-left-color: #828282;
    height: calc(20px + 1px);
    cursor: pointer;
    padding-left: 15px;

    &:hover {
        background-color: #0a3f5c;
        color: #03a4fb !important;
        text-decoration: none !important;
        border-bottom: 1px dotted #03a4fb;
        padding-bottom: 0.5em;
        transition: 0.5s;
    }
}

.detailsbar-content {
    //border-top: transparent solid 5px;
    background-color: #022335;
    border-left-style: solid;
    border-left-color: #828282;
    padding-left: 15px;
    width: 100%;
    transition: height 0.2s;
}

// Globals

td {
    vertical-align: top;
}

.footer-content {
    text-align: center;
    padding: 0.5em;
}

body {
    background-color: #022335 !important;
    font-family: $base-font-family !important;
    color: #abc0ca !important;
}

.jumbotron {
    background: #093750 !important;
}

a {
    color: #337ab7!important;
    text-decoration: none!important;
    display: inline-block;
    text-decoration: underline;
    word-break: break-word;
    cursor: pointer;
    transform: translate(0, 0);
    transition: color .5s;
}

a:hover{
    color: #03a4fb!important;
}

a::before{
    text-decoration: none!important;
    color: #03a4fb!important;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #03a4fb;
    z-index: -1;
    transition: width .5s;
}

a:hover::before {
    width: 100%;
}




pre {
    background-color: black !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 20px !important;
    padding: 1.5em !important;
    color: white !important;
}

code {
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;
}

.download {
    padding: 2em;
    font-size: 19px;
}

.intro {
    font-size: 19px;
}

.manual-title {
    font-size: 21px;
    padding: 1em;
    text-transform: uppercase;

}

.manual-content {
    text-align: justify;
    font-size: 19px;
}

.man-title {
    font-size: 22px;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;

}

.jumbotron {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.navbar {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
