---
--- 

@import "loading-screen.scss";
@import "scrollbar.scss";
@import "headfront.scss";
@import "utilities.scss";
@import "derocation_widgets.scss";
@import "bootstrap.scss";

.scroll-padding-navbar {
    scroll-padding-top: calc($menubar-height + 5%);
}

.sidebar-sticky-top {
    top: calc($menubar-height + 1rem);
    max-height: calc(100vh - #{$menubar-height} - 1rem - $spacer);
}

.uuz-lg-show-flex {
    display: none;
    @include media-breakpoint-up(lg) { 
        display: flex;
    }
}

.uuz-lg-flex-no-wrap {
    @include media-breakpoint-up(lg) { 
        flex-wrap: nowrap !important;
    }
}

.dotted-bg {
    background-image: url(/img/dot.png),linear-gradient(180deg,rgba(112,186,197,.07) 0,rgba(112,186,197,.07));
}

%uuz-heading {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 2rem;
    color: #d2f7fd;
}

[itemprop~="headline"] {
    margin-top: 0;
}

h1 {
    @extend %uuz-heading;
    margin-top: 2.5rem;
    border-bottom-color: #c4c4c4;
}

h2 {
    @extend %uuz-heading;
    margin-top: 2.5rem;
    border-bottom-color: #828282;
}

h3, h4, h5, h6 {
    @extend %uuz-heading;
    border-bottom-color: #0f5377;
}

#global-navbar {
    height: $menubar-height;
}

// index.html

a.uuz-post-entry {
    display: block;
    position: relative;
    min-height: 100px;
    margin-bottom: 30px;
    transition: all .2s;
    &:hover::before{
        width: 0!important;
    }
}

a.uuz-post-entry .date {
    font-size: 11px;
    font-size: .4rem;
    color: #6ff;
    text-transform: uppercase;
}

a.uuz-post-entry .headline {
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: #fdfffe;
    background-clip: text;
    display: block;
}

a.uuz-post-entry .headline::hover, a.uuz-post-entry .headline::focus {
    background: -webkit-linear-gradient(#f13304,#f13304);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

// Banners
.banner {}

// TOC

.toc {
    border: gray 2px;
    border-style: dashed;
    padding: 0 15px;
    padding-top: 5px;
    width: fit-content;
}

// navbar
.navbar a {
    color: $body-color-dark;
}

.navbar a:hover, .navbar a:focus {
    color: $primary;
}

.nav-item > a::before, .navbar > * > a::before {
    height: 4px;
    transition: width .3s;
}

// Posts

.post-meta {
    color: skyblue !important;
    border-bottom: #fdfdfd;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 40px;
    padding-bottom: 2px;
}

.post-divider{
    background-color: #2a7ae2;
    height: 1px;
    margin-bottom: 10px;
    transition: width 0.5s ease-out 0.5s;
}

// highlightdiv

.warning {
    background-color: #380000;
    background-image: url(/img/iconwarn.png);
    color: #a80000;
    background-repeat: no-repeat;
    background-position-y: 7px;
    background-position-x: 5px;
    background-size: 15px;
    border-left: #a80000;
    border-left-style: solid;
    border-left-width: 5px;
    padding: 5px;
    padding-right: 2px;
    padding-left: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0% 100%);
}

.caution {
    @extend .warning;
    background-color: #382200;
    background-image: url(/img/iconcaut.png);
    color: #a85a00;
    border-left: #a85a00;
    border-left-style: solid;
    border-left-width: 5px;
}

.approved {
    @extend .warning;
    background-color: #003800;
    background-image: url(/img/iconappr.png);
    color: #00a800;
    border-left: #00a800;
    border-left-style: solid;
    border-left-width: 5px;
}

.tips {
    @extend .warning;
    background-color: #00272e;
    background-image: url(/img/icontips.png);
    color: #008fa8;
    border-left: #008fa8;
    border-left-style: solid;
    border-left-width: 5px;
}

// Pages

.page-tagline {
    font-size: 20px;
    text-align: center;
}

.page-stuff {
    padding-top: 2em;
    padding-bottom: 5em;
    font-size: 19px;
}

// Serverpages

.logchart{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.logchart caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

.logchart th{
    border: 1px solid #000000;
    text-align: center;
    padding: 5px!important;
}

.logchart td{
    border: 1px solid #000000;
    text-align: center;
    padding: 5px!important;
}

.logchart thead tr{
    background-color: #008fa8;
    color: #ffffff;
}

.logchart tbody tr:nth-child(odd){
    background-color: #474747;
}

.logchart tbody tr:nth-child(even){
    background-color: #2e2e2e;
}

.logchart tbody tr:hover{
    background-color: #03a4fb;
    color: #022335;
}

.logchart tfoot tr td{
    text-align: right;
    padding-right: 20px;
}

.logchart{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.logchart caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

.logchart th{
    border: 1px solid #000000;
    text-align: center;
    padding: 5px!important;
}

.logchart td{
    border: 1px solid #000000;
    text-align: center;
    padding: 5px!important;
}

.logchart thead tr{
    background-color: #008fa8;
    color: #ffffff;
}

.logchart tbody tr:nth-child(odd){
    background-color: #474747;
}

.logchart tbody tr:nth-child(even){
    background-color: #2e2e2e;
}

.logchart tbody tr:hover{
    background-color: #03a4fb;
    color: #022335;
}

.logchart tfoot tr td{
    text-align: right;
    padding-right: 20px;
}

.serverpage-container {
    display: flex;
    justify-content: center;
}

.serverpage-content {
    width: 900px !important;
    margin: 20px;
}

.serverpage-infoitem {
    width: 340px;
    margin-top: 20px;
}

.mainintro {
    @extend .banner;
    width: 900px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative
}

.serverstate {
    @extend .banner;
    width: 340px;
    border-left: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}

.detail-btn {
    width: 75px;
    background-color: #abc0ca;
    color: #373737;
    padding: 3px;
    padding-bottom: 2px;
    margin-bottom: -30px;
    position: relative;
    bottom: 32px;
    left: 75px;

    &:hover+.detail-container {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
}

.detail-container {
    background-color: #111111;
    border: white;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    padding: 20px;
    bottom: -50px;
    right: 188px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    width: 450px;
    z-index: 10;
}

.state-subtitle{
    color: #093750;   
    transition: color 0.2s ease 0.0s; 
    overflow: visible;
}

.mainintro-hov {
    @extend .mainintro;
    color: #0d373c;
    transition: width 0.5s ease 0.1s, color 0.2s ease 0s;
    display: flex;
    height: 150px;

    &:hover {
        width: 1500px !important;
        color: #abc0ca;
        transition: width 0.5s ease 0s, color 0.5s ease 0.3s;
    }
    &:hover .hid1{
        opacity: 0;
        margin-right: -100px;
    }
    
    &::before{
        background: none;
    }
}

.hid1{
    opacity: 1;
    margin: 0px;
    transition: opacity 0.3s ease 0s, margin 0.5s ease 0s;
}

.hid2{
    @extend .hid1
}

.serverstate-hov {
    @extend .serverstate;
    color: #0d373c;
    transition: width 0.5s ease 0.1s, color 0.2s ease 0s;
    display: flex;
    height: 150px;

    &:hover {
        width: 1500px !important;
        color: #abc0ca;
        transition: width 0.5s ease 0s, color 0.5s ease 0.3s;
    }
    &::before{
        background: none;
    }
    &:hover .hid2{
        opacity: 0;
        margin-right: -100px;
    }
    &:hover .state-subtitle{
        color: #abc0ca;
    }
}

.serverstate-hov-2{
    @extend .mainintro;
    border-left: none;
    padding: 0px;
    color: #093750;
    transition: width 0.5s ease 0.1s,color 0.2s ease 0s;
    display: flex;
    height: 150px;
    background-image: url(/img/mapbg.webp);
    &:hover{
        width: 1500px!important;
        color: #abc0ca;
        transition: width 0.5s ease 0s,color 0.5s ease 0.3s;
    }
    &::before{
        background: none;
    }
    &:hover .hid3{
        opacity: 0;
        margin-right: -100px;
    }
    &:hover .state-subtitle{
        color: #abc0ca;
    }
}

// DetailsBar (nuked!)

// Globals

td {
    vertical-align: top;
}

.footer-content {
    text-align: center;
    padding: 0.5em;
}



code {
    font-size: 14px !important;
}

blockquote {
    color: #828282;
    border-left: 5px solid #828282;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

a {
    text-decoration: none !important;

    // They saved my life
    // https://stackoverflow.com/a/24566951
    display: inline table;

    word-break: break-word;
    cursor: pointer;
    transform: translate(0, 0);
    transition: color .15s;
}

a:hover {
    color: $body-bg-dark;
}

a::before {
    text-decoration: none!important;
    color: $primary !important;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: $primary;
    z-index: -1;
    transition: width .15s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.14, 1);
}

a:hover::before {
    width: 100%;
}

.postbody {
    transition: transform 0.8s cubic-bezier(0, 0, 0, 1) 0.5s, opacity 0.8s cubic-bezier(0, 0, 0, 1) 0.5s;
}

// .postbody a {
//     background-image: url(/img/link.svg);
//     background-repeat: no-repeat;
//     background-size: 1.3em;
//     padding-left: 1.4em;
// }

.uuz-post-rhs-sidebar {
    transition: transform 0.5s ease-out 0.7s, opacity 0.5s ease-out 0.7s;
}

pre {
    background-color: black !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    padding: 5px !important;
    color: white !important;
    counter-reset: line;
}

code {
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;

}


code div {
    display: block;
    white-space: pre;
}

code div:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 3em;
    text-align: right;
    border-right: 2px solid #999;
    padding-right: .8em;
    margin-right: 1em;
    color: #999;
}


.download {
    padding: 2em;
    font-size: 19px;
}

.intro {
    font-size: 19px;
}

.manual-title {
    font-size: 21px;
    padding: 1em;
    text-transform: uppercase;

}

.manual-content {
    text-align: justify;
    font-size: 19px;
}

.man-title {
    font-size: 22px;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;

}

::selection{
    background-color: #03a4fb48;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

