$font-family-base: 'JetBrains Mono', "思源黑体 CN", "Sarasa Gothic SC", "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-root: 16px;
$menubar-height: 50px;

$headings-color-dark: #d2f7fd;

$primary: #03a4fb;
$secondary: #abc0ca;
$body-color-dark: $secondary;
$body-bg-dark: #022335;
// $primary-bg-subtle: $body-color;

// background color for the top widget (navbar, stick-on-top things)
.top-bg {
    background-color: #093750;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/font/JetBrainsMono-Regular.woff2') format('woff2'),
        local('JetBrains Mono');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/font/JetBrainsMono-Bold.woff2') format('woff2'),
        local('JetBrains Mono');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/font/JetBrainsMono-Italic.woff2') format('woff2'),
        local('JetBrains Mono');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    src: url('/font/JetBrainsMono-BoldItalic.woff2') format('woff2'),
        local('JetBrains Mono');
}
