$base-font-family: 'JetBrains Mono', "思源黑体 CN", "Sarasa Gothic SC", "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$menubar-height: 50px;

$primary: #99ffff;
$secondary: #abc0ca;
// $body-color: #0d373c;
// $primary-bg-subtle: $body-color;
