$base-font-family: 'JetBrains Mono', "思源黑体 CN", "Sarasa Gothic SC", "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$menubar-height: 50px;

$primary: #99ffff;
$secondary: #abc0ca;
// $body-color: #0d373c;
// $primary-bg-subtle: $body-color;


.dotted-bg {
    background-image: url(/img/dot.png),linear-gradient(180deg,rgba(112,186,197,.07) 0,rgba(112,186,197,.07));
}

#global-navbar {
    height: $menubar-height;
}

.scroll-padding-navbar {
    scroll-padding-top: calc($menubar-height + 5%);
}