$transparent-img: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");

.fs-7 {
    font-size: 0.8rem;
}

.fs-8 {
    font-size: 0.7rem;
}

.aspect-177 {
    aspect-ratio: 1.77;
}

.visibility-hidden {
    visibility: hidden;
}

.start-33 {
    left: 33.33%;
}

.end-33 {
    right: 33.33%;
}

.opacity-33 {
    opacity: 0.33 !important;
}

.w-33 {
    width: 33.33%;
}