---
layout: default
---

<section class="headbackground">
  <div class="headfront">
    <p style="font-size: 20px;margin-left: 20px;padding-top: 40px;color: white;">
      「この幻想郷では常識に囚われてはいけないのですね！」</p>
    <div style="margin-left: 20px;color: white;position: absolute;bottom: 20px;">
      <p style="font-size: 15px;">VOR Hakugyokurou</p>
      <p style="font-size: 30px;">THYuyuko_051130</p>
      <p style="font-size:40px;margin-top: -40px;">▂▂</p>
      <br>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron">
    <div class="container">
      <div>
        <img alt="GitHub deployments" src="https://img.shields.io/github/deployments/x051130x/x051130x.github.io/github-pages?style=flat-square">
        <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/x051130x/x051130x.github.io?style=flat-square">
        <img alt="GitHub repo size" src="https://img.shields.io/github/repo-size/x051130x/x051130x.github.io?style=flat-square">
        <img alt="GitHub" src="https://img.shields.io/github/license/x051130x/x051130x.github.io?style=flat-square">
        <img alt="Views counter" src="https://badges.toozhao.com/badges/01GQAPK8XQZC5AC3GWBKK93WV0/blue.svg" />
      </div>
      <div style="width:100%;overflow: hidden;">
        <div class=detailsbar id="detailstitle" onclick="onTileClick()">[FOLDED] Self introduction & Links</div>
        <div class=detailsbar-content id="detailscontent" style="height:0px;transition: height 0.2s;display: flex;">
        <div>
          <img src="{{ "/img/intro.webp" | prepend: site.baseurl }}" style="width: 700px;background: linear-gradient(-45deg, transparent 10px, #2baaca 0);margin-right: 10px;"></br>
        </div>
        <div>
          东方众/飞友/车迷</br>
          uuz厨 + 苗厨</br>
          会记录点拍车/拍机/mc相关/其他的什么</br>
          事一个mc服务器腐竹，详见页顶Space Creator EX.</br>
          </br>
          Contact:</br>
          E-mail: xiazihe051130@hotmail.com</br>
          qq: 1161254733 ▽</br>
          </br>
        </div>
        </div>
      </div>

      <script type="text/javascript">
        var content = $("#detailscontent");
        function onTileClick() { content.css("height", content.outerHeight() === 510 ? 0 + 'px' : 510 + 'px'); }
      </script>
    </div>
  </div>
</section>

<section id="page-content">
  <div style="display: flex;justify-content: center;">
    <div class="bannerbar-onmenubar" style="margin-left: auto;">
      <div class="banner">
        {% include time.html %}
      </div>
      <div class="banner">
        <a href="https://play.mcmod.cn/sv20184362.html">
          <img alt="SCEX sevrer banner" src="{{ "/img/bannerscex.webp" | prepend: site.baseurl }}" style="width: 277px;margin-bottom: 5px;"></br>
        </a>
        <a href="https://space.bilibili.com/351616837/">
          <img alt="SCEX sevrer banner" src="{{ "/img/bannerbc.webp" | prepend: site.baseurl }}" style="width: 277px;margin-bottom: 5px;"></br>
        </a>
      </div>
    </div>
    <div class="container" style="margin-left: 0;">
      <div class="post-list">
        {% for post in site.posts %}
        <div class="post-box">
          <div>
            <div class="posted">
              <span class="posted-on">
                {{ post.date | date: "%A, %B %-d, %Y" }}
              </span>
              <span class="in">in</span>
              <span class="categories-on">
                {% for category in post.categories%}
                {{category}} &nbsp;{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
              </span>
            </div>
            <div class="post-title">
              <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>
            </div>
          </div>
          {% if post.banner %}
          <img class="post-banner" title="Banner" src="{{ post.banner | prepend: site.baseurl }}">
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
</section>