---
layout: default
---

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var element = document.querySelector(".headfront-text");
        element.style.opacity = 1;
        element.style.transform = "translateX(0)";
    });
</script>

<div class="mainpage-bg">
    <div class="headfront">
        <div class="headfront-text">
            <p style="font-size: 20px;margin-left: 20px;padding-top: 40px;color: white;">
                「この幻想郷では常識に囚われてはいけないのですね！」</p>
            <div style="margin-left: 20px;color: white;position: absolute;bottom: 20px;">
                <p style="font-size: 15px;">VOR Hakugyokurou</p>
                <p style="font-size: 30px;">THYuyuko_051130</p>
                <p style="font-size:40px;margin-top: -40px;">▂▂</p>
                <br>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="decr-compass mb-3"></div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-wrap">
                    <img class="img-fluid decr-led" src="/img/widget-12-01.gif" alt="">
                    <img src="/img/widget-bars-horizontal.png" class="decr-led-side" alt="">
                    <img src="/img/widget-09-01.gif" style="margin-bottom: -5px;" alt="">
                </div>
                <hr>
                <div class="d-flex flex-column flex-nowrap">
                    {% for post in site.posts %}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="decr-cornerhoverarea">
                            <div class="row">
                                <section class="col-md-4 col-lg-5">
                                    <div class="decr-cornercontainer">
                                        {% if post.banner %}
                                        <img alt="{{ post.title }}" src="{{ post.banner | prepend: site.baseurl }}"
                                            class="img-fluid aspect-177" height="450" width="600">
                                        {% else %}
                                        <img class="img-fluid aspect-177 visibility-hidden" height="450" width="600" alt="">
                                        {% endif %}
                                        <div class="corner-tl"></div>
                                        <div class="corner-tr"></div>
                                        <div class="corner-bl"></div>
                                        <div class="corner-br"></div>
                                    </div>
                                </section>
                                <section class="col-md-8 col-lg-7">
                                    <div class="date hidden-sm-down">POSTED // {{ post.date | date: "%A, %B %-d, %Y" }}
                                    </div>
                                    <hr class="opacity-50">
                                    <div class="headline en">{{ post.title }}</div>
                                </section>
                            </div>
                        </a>
                    <hr class="opacity-50">
                    {% endfor %}
                </div>
            </div>
            <div class="col-3 d-flex flex-column flex-nowrap sticky-lg-top align-self-start">
                <div class="hr double-stacked" style="margin-top: -19px;">
                    <div class="triple">
                        <hr>
                        <div class="tick"></div>
                        <div class="tick"></div>
                    </div>
                    <div class="triple">
                        <hr>
                        <div class="tick"></div>
                        <div class="tick"></div>
                    </div>
                </div>
                <div class="dotted-bg p-3">
                    {% include time.html %}
                    <hr>
                    <a class="news-thumb" href="https://play.mcmod.cn/sv20184362.html">
                        <img alt="SCEX sevrer banner" src="{{ "/img/bannerscex.webp" | prepend: site.baseurl }}"
                            style="width: 100%;"><br />
                        <div class="corner-tl"></div>
                        <div class="corner-tr"></div>
                        <div class="corner-bl"></div>
                        <div class="corner-br"></div>
                    </a>
                    <a class="news-thumb" href="https://space.bilibili.com/351616837/">
                        <img alt="SCEX sevrer banner" src="{{ "/img/bannerbc.webp" | prepend: site.baseurl }}"
                            style="width: 100%;"><br />
                        <div class="corner-tl"></div>
                        <div class="corner-tr"></div>
                        <div class="corner-bl"></div>
                        <div class="corner-br"></div>
                    </a>
                </div>
                <hr>
                <img src="/img/widget-sidebar.png" style="width: 60%;margin-top: -10px;margin-bottom: -10px;">
                <hr>
            </div>
        </div>
    </div>
</div>