<!DOCTYPE html>
<html lang="zh-CN" class="scroll-padding-navbar" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description | escape }}" property="og:description">
    {% else %}
    <meta content="{{ site.description | escape }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}

    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}

    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    <title>
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
    </title>
    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}{% else %}{{ site.description | escape }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend:
        site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap advises me to place their JS on the end of <body>. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.5.0/luxon.min.js" integrity="sha512-SN7iwxiJt9nFKiLayg3NjLItXPwRfBr4SQSIugMeBFrD4lIFJe1Z/exkTZYAg3Ul+AfZEGws2PQ+xSoaWfxRQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{{ " /css/main.css" | prepend: site.baseurl }}">

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

    <script>
        function setCurrentTimeDate() {
            $("#banner-time").text(luxon.DateTime.now().toFormat('HH:mm:ss'));
            $("#banner-date").text(luxon.DateTime.now().setLocale('en-US').toFormat('d MMMM y'));
            setTimeout(setCurrentTimeDate, 500);
        }
        $(document).ready(setCurrentTimeDate);
    </script>
</head>

<body>
    <div class="fade-show" id="loading-screen">
        <div class="loading-bg h-100 w-100 position-fixed z-3"></div>
        <div class="d-flex flex-nowrap position-fixed loading-widget z-3">
            <div>
                <img height="120px" width="120px" src="/img/loadAnime.gif" alt="Loading animation">
            </div>
            <div class="ps-2">
                <div class="fs-4">少女祈祷中....</div>
                <div>Now Loading</div>
            </div>
        </div>
    </div>

    <script>
        $('#loading-screen').css('visibility', 'visible');
        $(document).ready(() => {
            $('#loading-screen').css('opacity', 0.0);
            setTimeout(() => $('#loading-screen').css('display', 'none'), 1500);
        });
    </script>


    <nav class="navbar sticky-top bg-body-tertiary navbar-expand" id="global-navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-secondary" href="{{ site.baseurl }}/">HOME</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar-collapse"
                aria-controls="menubar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menubar-collapse">
                <ul class="navbar-nav me-auto align-items-center">
                    {% for page in site.pages %}
                    {% if page.title %}
                    <li class="nav-item">
                        <a href="{{ page.permalink | prepend: site.baseurl }}" class="nav-link">{{page.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div>
        {{content}}
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <footer class="row container-sm py-5">
            <div class="col border-start border-3">
                <h5>This site</h5>
                <ul class="list-inline">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="https://github.com/x051130x/x051130x.github.io">Github repo</a></li>
                </ul>
            </div>
            <div class="col border-start border-3">
                <h5>SCEX server</h5>
                <ul class="list-inline">
                    <li><a href="/scex/index.html">Home Page</a></li>
                    <li><a href="https://play.mcmod.cn/sv20184362.html">mcmod 宣发页</a></li>
                    <li><a href="/2022/08/19/guide.html">入服指南文档</a></li>
                </ul>
            </div>
            <div class="col border-start border-3">
                <a href="https://space.bilibili.com/484869373">bilibili channel</a><br>
                <a href="https://github.com/x051130x">Github</a><br>
                <a href="https://osu.ppy.sh/users/28653211">osu! profile</a><br>
                <a href="https://tenco.info/game/2/account/R051130/">TH123 Tenco!</a>
                <hr>
                <p>
                    安康车万同好群：<br>
                    952480829
                </p>
            </div>
            <div class="col border-start border-3 fs-8">
                <img src="/img/HAIlogo.png" class="pb-2" style="width: 200px;" alt="HAI Logo"><br>
                <p>
                    Powered By Jekyll<br>
                    This page is powered by <a href="https://pages.github.com/">Github Pages</a>.<br>
                    PHP scripts is hosted by <a href="https://www.infinityfree.net/">InfinityFree</a>.
                </p>
                <p>
                    Copyright © 2025 THYuyuko_051130<br>
                    Licensed under MIT (for source code) & CC-BY-SA 4.0 (for content)
                </p>
            </div>
    </div>
    <!--img src="/img/footsanae.png" style="width: 100%;margin-bottom: 30px;"-->
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>