---
layout: default
---
<section class="headbackground" style="background-image: none!important;;background-color: #022335!important;overflow: auto;">
  <div style="min-width: 1360px;min-height: 900px;">
  <div class="serverpage-container">
    <div class="serverpage-content">
      <div style="width: 900px;background-color: rgb(255, 255, 255); margin-bottom: 20px;height: 250px;">
      <img style="height: 200px;position: relative;left: 50%;top: 25px;margin-left: -225px;" src="/img/serverpb.webp">
      </div>
      <div class="mainintro">
        <p>一个专注于 create 的 Minecraft 模组服务器。</p>
        <p>一个自由，平和，友善的玩家社群。</p>
        <p>就是这样（笑）</p>
        <p>Infinity - Creative - Extended</p>
        <p>It’s here. Space Creator EX.</p>
      </div>
      <div class="serverpage-container">
        <a class="mainintro-hov" href="/2022/08/19/guide.html">
          <div class="mainintro-bg" style="width: 100%;">
            <img class="hid1" src="/img/guide.svg" style="width: 100px;height: 100px;position: relative;top: 10px;margin-bottom: 20px;">
            <div class="state-subtitle" style="margin-top: 20px;margin-left: 5px;">
              <span style="font-size: 20px;color: #abc0ca!important;width: 100%;white-space: nowrap;">入服指南</span><br>
              <div style="white-space: nowrap;width: 10px;overflow: visible;">现世人的幻想入教程</div>
            </div>
          </div>
        </a>
        <a href="/2022/08/19/uplog.html" class="serverstate-hov-1">
          <div class="mainintro-bg" style="width: 100%;">
            <img class="hid2" src="/img/journal.svg" style="width: 100px;height: 100px;position: relative;top: 10px;margin-bottom: 20px;">
            <div class="state-subtitle" style="margin-top: 20px;margin-left: 5px;">
              <span style="font-size: 20px;color: #abc0ca!important;width: 100%;white-space: nowrap;">维护日志</span><br>
              <div style="white-space: nowrap;width: 10px;overflow: visible;">八云蓝大结界维护记事</div>
            </div>
          </div>
        </a>
        <a href="/2022/08/19/uplog.html" class="serverstate-hov-2">
          <div class="mainintro-bg" style="width: 100%;">
            <img class="hid3" src="/img/map.svg" style="width: 100px;height: 100px;position: relative;top: 10px;margin-bottom: 20px;">
            <div class="state-subtitle" style="margin-top: 20px;margin-left: 5px;">
              <span style="font-size: 20px;color: #abc0ca!important;width: 100%;white-space: nowrap;">网页地图</span><br>
              <div style="white-space: nowrap;width: 10px;overflow: visible;">大结界内の完全映射</div>
            </div>
          </div>
        </a>
      </div>
      <div class="mainintro" style="height: 150px;">
        <h4 style="background-image: none;">鸣谢</h4>
        Magellan67 Creeper_yi_que<br>
        BCF_SAKUYA RaidenBaalU8F5C
      </div>
    </div>
    <div class="serverpage-infoitem">
      <div class="serverstate">
        {% include time.html %}
      </div>
      <div class="serverstate">
        <table>
          <tr>
            <td><div id="onlinePlayers1" style="font-size: 120px;margin-left: -5px;margin-top: -25px;margin-bottom: -25px;">0</div></td>
            <td>
              <div>
                <div style="margin-top: 10px;text-align: end;background-image: url(/img/server.svg);background-size: 20px;background-repeat: no-repeat;padding-left: 22px;">整合包向子服务器</div>
                <span style="font-size: 20px;">「须臾」</span><br>
                <br>
                在线
                <div class="detail-btn">Details</div>
                <div class="detail-container">
                  <span style="color: #03a4fb;">目标</span><br>
                  <span>main.aerohakugyokurou.top:23323</span><br>
                  <span style="color: #03a4fb;">状态</span><br>
                  <span id="serverStatus1">等待信息返回...</span><br>
                  <span style="color: #03a4fb;">版本</span><br>
                  <span id="version1">-</span><br>
                  <span style="color: #03a4fb;">motd</span><br>
                  <span id="motd1">-</span><br>
                  <span style="color: #03a4fb;">延迟</span><br>
                  <span id="latency1">-</span>ms
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="serverstate">
        <table>
          <tr>
            <td><div id="onlinePlayers2" style="font-size: 120px;margin-left: -5px;margin-top: -25px;margin-bottom: -25px;">0</div></td>
            <td>
              <div>
                <div style="margin-top: 10px;text-align: end;background-image: url(/img/server.svg);background-size: 20px;background-repeat: no-repeat;padding-left: 22px;">养老向子服务器</div>
                <span style="font-size: 20px;">「永遠」</span><br>
                <br>
                在线
                <div class="detail-btn">Details</div>
                <div class="detail-container">
                  <span style="color: #03a4fb;">目标</span><br>
                  <span>main.aerohakugyokurou.top:27771</span><br>
                  <span style="color: #03a4fb;">状态</span><br>
                  <span id="serverStatus2">等待信息返回...</span><br>
                  <span style="color: #03a4fb;">版本</span><br>
                  <span id="version2">-</span><br>
                  <span style="color: #03a4fb;">motd</span><br>
                  <span id="motd2">-</span><br>
                  <span style="color: #03a4fb;">延迟</span><br>
                  <span id="latency2">-</span>ms
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="serverstate">
        <a href="http://scex.aerohakugyokurou.top:37800/">>> 访问皮肤站</a>
      </div>
      <div class="serverstate" style="height: 270px;">
        <div style="background-image: url(/img/active.svg);background-size: 20px;background-repeat: no-repeat;padding-left: 22px;">动态</div>
        {{ content }}
      </div>
    </div>  
  </div>
  </div>


</section>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- AJAX JavaScript -->
  <!-- 须臾 子服务器 -->
  <script>
    $(document).ready(function() {
      var serverIP = "scex.aerohakugyokurou.top";
      var serverPort = 23323;

      function getServerStatus() {
        $.ajax({
          type: 'GET',
          url: `https://api.mcsrvstat.us/2/${serverIP}:${serverPort}`,
          dataType: 'json',
          success: function(data) {
            var onlinePlayers = data.players.online;
            var latency = data.latency;
            var serverStatus = data.online ? "在线" : "离线";
            var motd = data.motd.clean.join(' ');
            var version = data.version;

            document.getElementById('onlinePlayers1').textContent = onlinePlayers;
            document.getElementById('latency1').textContent = latency;
            document.getElementById('serverStatus1').textContent = serverStatus;
            document.getElementById('motd1').textContent = motd;
            document.getElementById('version1').textContent = version;
          },
          error: function() {
            document.getElementById('serverStatus2').textContent = "无法获取服务器信息";
          }
        });
      }
  
      getServerStatus();
      setInterval(getServerStatus, 5000); // 每隔5秒刷新一次服务器状态
    });
  </script>
  <!-- 永遠 子服务器 -->
  <script>
    $(document).ready(function() {
      var serverIP = "scex.aerohakugyokurou.top";
      var serverPort = 27771;

      function getServerStatus() {
        $.ajax({
          type: 'GET',
          url: `https://api.mcsrvstat.us/2/${serverIP}:${serverPort}`,
          dataType: 'json',
          success: function(data) {
            var onlinePlayers = data.players.online;
            var latency = data.latency;
            var serverStatus = data.online ? "在线" : "离线";
            var motd = data.motd.clean.join(' ');
            var version = data.version;

            document.getElementById('onlinePlayers2').textContent = onlinePlayers;
            document.getElementById('latency2').textContent = latency;
            document.getElementById('serverStatus2').textContent = serverStatus;
            document.getElementById('motd2').textContent = motd;
            document.getElementById('version2').textContent = version;
          },
          error: function() {
            document.getElementById('serverStatus2').textContent = "无法获取服务器信息";
          }
        });
      }
  
      getServerStatus();
      setInterval(getServerStatus, 5000); // 每隔5秒刷新一次服务器状态
    });
  </script>

