---
layout: default
---



<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="container">
  <table>
    <tr>
      <td>
        <div style="position: sticky;top: 60px;">
          <div class="content">
            {% include time.htm %}
          </div>
          <div class="contect" style="margin-top: 10px;">
            <div id="toc"></div>
          </div>
        </div>
      </td>
      <td>
      <div class="postbody">
        <h2 class="post-title-main" itemprop="name headline">{{ page.title }}</h2>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        {% if post.banner %}
        <img class="scalableimg" title="Banner" src="{{ post.banner | prepend: site.baseurl }}">
        {% endif %}
        {{ content }}
      </td>
    </tr>
  </table>
</div>
</article>
