---
layout: default
---

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var element = document.querySelector(".post-divider");
    element.style.width = "100%";
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var element = document.querySelector(".post-banner");
    element.style.transform = "translateX(0px)";
    element.style.opacity = "1";
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var element = document.querySelector(".postbody");
    element.style.transform = "translateY(0px)";
    element.style.opacity = "1";
  });
</script>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" style="height: 100%;">
  <div class="container" style="display: flex;align-items: flex-start;height: 100%;align-items: stretch;">

    <div class="postbody">
      <h2 class="post-title-main" itemprop="name headline">{{ page.title }}</h2>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ page.author }}
          </span>
        </span>
        {% endif %}
      </p>
      {{ content }}
    </div>
    <div class="bannerbar-onmenubar">
      {% if post.banner %}
        <img alt="{{ post.title }}" src="{{ post.banner | prepend: site.baseurl }}" class="img-fluid" width="300">
      {% else %}
        <img src="/img/guide.webp" class="img-fluid" width="300" height="160" style="visibility: hidden;">
      {% endif %}
      <div class="post-divider"></div>
      <div class="post-banner">
        {% include time.html %}
        <br>
        <div class="toc-noborder" id="table-of-contents">
          <i>Loading...</i>
        </div>
      </div>
    </div>
  </div>
</article>

<script type="text/javascript">
  $(document).ready(function () {
    $('#table-of-contents').toc({ showEffect: 'slideDown', title: '<span><i class="fa fa-list-ul" aria-hidden="true"></i> 目录：</span>' });
  });
</script>